<app-navegation></app-navegation>
<body class="imagebackground">
  <div class="cardcontent">
  <p class="text">Nombre:</p>
  <p class="text">Lorem:</p>
  <p class="text">Description:</p>

      <tr>
        <th>
          <mat-form-field  appearance="fill" class="box">
  
            <textarea matInput ></textarea>
          </mat-form-field>
        </th>
        <th>
          <img src="">
        </th>
      </tr>


    <button mat-raised-button color="primary">Eliminar</button>
 
  </div>
</body>


